.onglet
	{
		background-color:#CCC;
		padding:2px;
		margin:2px;
		border:1px solid #000;
		text-align: center;
		cursor:pointer;		
		float:left;
		display:block;
		width:120px;
	}
	.contenu
	{	padding:5px;
		margin:0px;
		border:1px solid #000;
		width:400px;
		display:block;
		background-color:#39C;
		color:#FFF;	
		clear:both;	
	}
	
	.contenuV
	{	padding:5px;
		margin:0px;
		margin-left:132px;
		margin-top:-83px;
		border:1px solid #000;
		width:400px;
		float:left;
		background-color:#39C;
		color:#FFF;	
		clear:both;	
	}