body {
	margin: 0px;
	padding: 10px;
	font:80% Arial, sans-serif;
}
h2 {
	clear:both;
	font-size:160%;
	font-weight:normal;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 15px;
}
a {
	text-decoration:none;
	color:black;
}
img {
	border: 1px solid black;
}
ul, li {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none;
	float: left;
	display: inline;
	margin-right: 10px;
}
#zoom {
	position: absolute;
	border: 1px solid #333;
	background: #333;
	padding: 3px;
	display: none;
	color: #fff;
}