body { margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    font: 90% Arial, sans-serif;}

a { text-decoration: none;
    border-bottom: 1px dashed black;
    color: black;}

#infobulle 
{ position: absolute;
    border: 1px solid black;
    background: #9cf;
    padding:2px 5px;
    display: none;
}